.dialog {
    color: white;
    text-decoration: none;
    padding: 3px;
}

.dialog img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid orange;
}

.dialog a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.dialog a:hover {
    color: orange;
}

.dialog a.activeLink {
    color: orange;
    font-weight: bold;
}
