.dialog {
    width: 300px;
    height: 100%;
}

.dialogItem {
    background-color: white;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.dialogItem img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #f1f5f8;
}

.dialogItem a {
    text-decoration: none;
    color: black;
}

.dialogItem a:hover {
    color: white;
    border: 1px solid #1056b7;
    background-color: #1056b7;
    border-radius: 10px;
}

.dialogItem a.activeLink {
    border: 1px solid #1056b7;
    background-color: #1056b7;
    border-radius: 5px;
    color: white;
}

.dialogItem a.activeLink:hover {
    border: 1px solid #1056b7;
    background-color: #1056b7;
    border-radius: 5px;
    color: white;
}
