.navbar {
    grid-area: navbar;
    background-color: forestgreen;
    border-top: 4px solid orange;
    border-right: 4px solid orange;
    border-bottom: 4px solid orange;
    padding: 10px;
}

.item {
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 3px;
    margin-left: 2px;
}

.item a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.item a:hover {
    color: orange;
}

.item a.activeLink {
    color: orange;
    font-weight: bold;
}
