.navbar {
    grid-area: navbar;
    border-right: 1px solid white;
    background-color: #1056b7;
    font-size: 20px;
}

.items{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item {
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 3px;
    margin-left: 2px;
}

.item a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.item a:hover {
    color: #1056b7;
    border: 1px solid #f1f5f8;
    background-color: #f1f5f8;
    border-radius: 5px;
}

.item a.activeLink {
    color: white;
    text-decoration: underline;
}

.item a.activeLink:hover {
    color: #1056b7;
    border: 1px solid #f1f5f8;
    background-color: #f1f5f8;
    border-radius: 5px;
}