.profileData {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-top: 5px;
    border-left: 2px solid #1056b7;
}

.avatar {
    border: 1px #f1f5f8;
}

.avatarImg {
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 100%;
}

.data{
}

.data span{
    text-align: center;
}

.data ul {
    font-weight: bold;
}
.data ul li{
    font-weight: normal;
    color: #606060;
}



