.footer {
    grid-area: footer;
    background-color: #1056b7;
    border-top: 1px solid white ;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    text-align: center;
    color: white;
    font-size: 12px;
}