body, html{
    margin: 0;
    background-color: #1056b7;
}

.app {
    margin: 0 auto;
    display: grid;
    height: 100vh;

    grid-template-areas:
  "header header"
  "navbar content"
  "footer footer";

    grid-template-rows: 85px 1fr;
    grid-template-columns: 1.5fr 10fr;
}

.app .content {
    grid-area: content;
    height: 100%;
}
